  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
};



$marineblue:hsl(213, 96%, 18%);
$purplishblue:hsl(243, 100%, 62%);
$pastelblue:hsl(228, 100%, 84%);
$lightblue:hsl(206, 94%, 87%);
$strawberry:hsl(354, 84%, 57%);
$coolgray:hsl(231, 11%, 63%);
$lightgray:hsl(229, 24%, 87%);
$mongolisa:hsl(217, 100%, 97%);
$alasbaster:hsl(231, 100%, 99%);
$white:hsl(0, 0%, 100%);


body{
    background-color:$mongolisa;
    max-height: 100vh;

}

.main{

}



.header{

width: 100%;
background-image: url('../src/assets/images/bg-sidebar-mobile.svg');
background-position: center top;
background-size: cover;
background-repeat: no-repeat;
height: 30vh;
background-color: red;

.steps{
    display: flex;
    justify-content: center;
    padding-top: 25px;

    .info{
        display: flex;
        gap: 5%;
        align-items: center;
    }

    .stepp{
        text-transform: uppercase;
        color: $mongolisa;
        font-size: 15px;
        margin-bottom: 5px;
        display: none;
    
    }

    .stepabout{

        color: white;
        font-size: 15px;
        font-weight: 500;
        display: none;
      
    }

  

    .numbers{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        border: 1.5px solid white;
        color: white;
    
        font-weight: 500;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    }

    

.active{
    background-color: $lightblue;
    color: $marineblue;
}
}







 
}

.body{

    margin: 0 auto;
    width: 100%;
    min-height: 100px;
    
    background-color: $mongolisa;


    .bodyword{
        position: relative;
        top: -70px;
        
    }
    
    

    

}
button {

    &:focus{
        outline: none;
    }

}

.direction{
    background-color:white;
    padding: 10px 0;
    padding-top: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.back{
    border: none;
    color: $coolgray;
    background-color: transparent;
    font-weight: 500;
    font-size: 14px;
    margin-left: 3%;
}
.backk{
    border: none;
    color: $coolgray;
    background-color: transparent;
    font-weight: 500;
    font-size: 14px;
    margin-left: 3%;
    visibility: hidden;
}



.next{
    background-color: $marineblue;
    color: $lightgray;
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-weight: 500;
    margin-right: 3%;
}
.submit{
    background-color: $purplishblue;
    color: $white;
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-weight: 500;
    margin-right: 3%;
}

.personalinfodiv{

    background-color: white;
    width: 95%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 20px 0;

    div{
        
        margin-bottom: 10px;
    }
    
    h1{
        margin-bottom: 15px;
        margin-left: 10px;
        color: $marineblue;
        font-size: 25px;
    }
    form{
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: 0 auto;
        input{
            display: block;
            width: 100%;
            margin: 0 auto;
            min-height: 8vh;
            margin-bottom: 15px;
            border-radius: 5px;
            border: 1px solid $coolgray;
            padding-left: 5%;
            color: $marineblue;
            font-weight: 700;
            font-size: 16px;
            text-transform: capitalize;

            &:focus{
                outline: none;
                border: 1.5px solid $marineblue;
                
            }

            &::placeholder{
                color:$coolgray;
                font-weight: 700;
                font-size: 15px;
                
            }
        }
        
    }
    p{
        width: 85%;
        margin-bottom: 15px;
        margin-left: 10px;
        color: $coolgray;
    }

    .input-error {
        border: 1px solid $strawberry
      }

    
      label{
         color: $marineblue;
         font-weight: 500;
         display: block;
         margin-bottom: 5px;
         display: flex;
         justify-content: space-between;
      }
      
      small{
        color: $strawberry;

      }
}

.plandiv{
    width: 95%;
    margin: 0 auto;
    background-color: white;
    padding: 20px 0;
    border-radius: 8px;
h1{
    color: $marineblue;
    font-size: 25px;
    margin-bottom: 15px;
    margin-left: 5%;

}

.planp{
    color: $coolgray;
    margin-bottom: 15px;
    margin-left: 5%;
    width: 80%;
    line-height: 22px;
}

.Advanced, .Arcade, .Pro{

    border:  0.07rem solid $marineblue;
    margin: 0 auto;
    margin-bottom: 13px;
    border-radius: 5px;
    display: flex;
    padding: 10px 15px;
    gap: 10px;
    width: 90%;
    
    

}

.background{
    background-color:$mongolisa;
    border: 1.5px solid $marineblue;
}
.word{
    small{
        color: $marineblue;
        font-weight: 700;
    }


    h4{
        color: $marineblue;
        font-weight: 500;
    }
    p{
        color: $coolgray;
        font-size: 15px;
        font-weight: 500;

    }
}

.chooseplan{
    margin-bottom: 20px;
}

.buttondiv{
    width: 40px;
    height: 18px;
    background-color: $marineblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.button{
    width: 13px;
    height: 13px;
    border-radius: 100%;
    border: none;
    transform: translateX(0%);
}
.add{
    transform: translateX(200%);
}



.toggletime{
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;

    gap: 5%;
    background-color: $mongolisa;
    border-radius: 8px;
    p{
        font-weight: 700;
        color: $marineblue;
    }

    .monthly{
        color: $marineblue;
        font-weight: 700;
    }
    
}


}


.div-adds-on{
    width: 95%;
    margin: 0 auto;
    padding-left: 10px;
    background-color: white;
    border-radius: 8px;
    padding: 20px 0;



    .addsword{
        margin-bottom: 15px;
        color: $coolgray;
        margin-left: 5%;
        width: 80%;
        

    }
    h1{
        margin-bottom: 15px;
        color: $marineblue;
        margin-left: 5%;
    }


    .divchecked{

        margin: 0 auto;
        
        margin-bottom: 20px;
        width: 90%;
       
        border: 1.5px solid $lightgray;
        border-radius: 5px;
        padding: 12px;
        background-color: $alasbaster;

        



        .price{
            color: $purplishblue;
            font-weight: 500;
            font-size: 14px;
        }

        .checkword{
            font-weight: 400;
            color: $coolgray;
            font-size: 15px;
        }
        h4{
            color: $marineblue;
        }

        .online-div{
            display: flex;
            align-items: center;
            gap: 10px;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;

        .checkbox{
            width: 18px;
            height: 18px;
            color: $coolgray;
        }
    
    }

    .background{
        background-color:$mongolisa;
        border: 1.5px solid $purplishblue;
    }
}

.finish{
    background-color: white;
    padding: 20px 0;
    border-radius: 5px;
    width: 95%;
    margin: 0 auto;

    h1{
        color: $marineblue;
        margin-bottom: 8px;
        margin-left: 5%;
    }

    .finishp{
        color: $coolgray;
    margin-bottom: 8px;
    margin-left: 5%;
    }

    .finishword{
        background-color: $lightgray;
        
        width: 90%;
        margin: 0 auto;
        border-radius: 5px;
        padding: 10px 10px;

        h4{
            color: $marineblue;
        }

        .finishplan{
            display: flex;
            justify-content: space-between;
            padding: 10px;

            padding-bottom: 10px;
            margin-bottom:15px;
            border-bottom: 1px solid $coolgray;

            .change{
                color: $coolgray;
                text-decoration: underline;



            }
            
            .pick1{
                color: $marineblue;
                font-weight: 700;
                font-size: 15px;
            }
        }

        .filtername{
            font-weight: 400;
            color: $coolgray;
        }

        .filterprice{
            font-weight: 500;
            color: $marineblue;
            font-size: 15px;
        }

        .filterarray{
            display: flex;
            justify-content: space-between;
            padding: 0 10px;
            margin-bottom: 25px;
            
        }

      
    }
    .finishtotal{
        display: flex;
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        margin-top: 20px;
        color: $coolgray;
        .total{
            font-weight: 500;
            font-size: 16px;
            color: $purplishblue;
        }
    }
}

.divthankyou{

    background-color: white;
    text-align: center;
    border-radius: 8px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: -70px;
    padding: 50px 0;
    img{

        width: 60px;
        display: inline-block;
        margin-bottom: 15px;
    }
    h1{

        color: $marineblue;
        margin-bottom: 20px;

    }

    p{
        width: 88%;
        line-height: 23px;
        margin: 0 auto;
        color: $coolgray;
    }
}


@media (min-width:650px) {

    .main{
        display: flex;
        background-color: white;
        padding: 20px;
        width: 95%;
        margin: 0 auto;
        margin-top: 30px;
        border-radius: 10px;
 
    }

    

    .body{
        width: 200%;
        background-color: white;

        .bodyword{
            top: 0;
            margin-top: 0;
            padding-left: 20px;
        
            
        }
    }

    .header{
        background-image: url('../src/assets/images/bg-sidebar-desktop.svg');
        background-position: center bottom;
        background-size:cover;
        display: flex;
        flex-direction: column;
        height: 80vh;
        background-repeat: no-repeat;
        padding-left: 30px;
        padding-top: 20px;
        border-radius: 8px;
        width: 90%;        
        .steps{
            flex-direction: column;
            gap: 30px;

            .stepp{
                display: block;

            }

            .stepabout{
                display: block;
                font-size: 17px
            }
        }
        
        
    }

    .plandiv{


        .Advanced, .Pro ,.Arcade{
            flex-direction: column;
            justify-content: space-between;
            min-width: 100px;
            height: 30vh;
        }

        .chooseplan{
            display: flex;
            gap: 15px;
            padding: 20px;
            margin-bottom: 30px;
        }

        .word{
            order: 2;
            display: flex;
            flex-direction: column;
            gap: 5px;
            small{

                font-size: 11px;
                font-weight: 700;
            }
        }
        .planword{
            order: 1;
            
        }
     
    }

    .direction{

        background-color: white;
        width: 85%;
        margin: 0 auto;
    }
}

